@media (min-width: 200px) {
    body, 
    main, 
    header,
    header > section,
    main > section {
        @include flexBox(column);
    }

    p {
        color: dimgray;
    }
    header {
        @include bgPic(
            "/img/backg-restaurant.jpg",
            inherit,
            60vh
        );
        nav {
            display: none;
        }

        p {
            color: whitesmoke;
        }

        > section {
            height: 100%;
            background-color: rgba(155, 155, 155, 0.6);
            color: whitesmoke;
            text-transform: capitalize;
            justify-content: space-between;
            padding: 5%;
        }
        details {
            text-align: right;
            width: 100%;
            height: 40%;
        }
        figure {
            height: 40%;
            
        }
        summary {
            font-size: 26px
        }

        ul, li{
            @include flexBox(column);
        }

        li {
            text-decoration: underline;
            text-decoration-style: dotted;
        }
        a {
            padding: 1%;
            color: white;
            text-transform: capitalize;
            text-decoration: none;
        }
        // END HEADER
    }

    main > section {
        padding: 5%;
    }
    main {
        row-gap: 10vh;
    }
    .article-title {
        text-align: center;

        h2 {
            color: green;
            text-transform: capitalize;
        }

        @include flexBox(column);
        row-gap: 2vh;
    }

    .about {
        figure, 
        figcaption, 
        aside,
        > section,
        > section > article {
            @include flexBox(column);
            row-gap: 2vh;
        }
        > section,
        > section > article {
            row-gap: 10vh;
        }
        figure {
            align-items: center;
        }
        img {
            width: 45vh;
            height: 60vh;
        }
        figcaption {
            padding-left: 5%;
            width: 95%;
            h3 {
                color: skyblue;
                text-transform: capitalize;
            }
            span {
                color: darkmagenta;
            }
            aside {
                flex-direction: row;
                column-gap: 4vh;
            }
            
            aside a {
                color: gray;
                text-decoration: none;
                font-size: 24px;
            }
        }
        // END FIGCAPTION
    }
    // END ABOUT
}